*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter',sans-serif;
}
body{
    background-color: gray;
}
header{
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;

}
.nav-bar {
   display: flex;
   justify-content: space-between;
   padding: 1.5rem 6rem;
}

.logo{
    display: flex;
    align-items: center;

}
h1{
    color: #fff;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color:#fff;
    font-weight: 400;
}
.nav-link:hover{
    font-size: 24px;
}

.login-button button{
    border: none;
    background-color:#0187a7 ;
    padding: 10px 15px;
    border-radius: 5px;

}
.login-button a {
    text-decoration: none;
    color:#fff;
    font-weight: 500;
    font-size: 1.1rem;
}
.mobile-menu-icon{
    display: none;
} 
.mobile-menu {
    display: none;
}

@media screen and (max-width:730px)
{
 .nav-bar{
    padding: 1.5rem 4rem;
 }   
.nav-link{
    color: black;
}


.nav-item{
    display: none;
}
.login-button {
    display: none;
}
.mobile-menu-icon{
    display: block;
}
.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.mobile-menu ul a{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1px 2px ;

}
.mobile-menu .nav-item{
    display: block;
    padding: top 2.2rem;
}
.mobile-menu .login-button{
    display: block;
    padding: 2rem 2rem;  
}
.mobile-menu .login-button button{
    width: 100%;
}
.open
{
   display: block;
}

}
.text{
    font-family: 'inter',sans-serif;
    text-align: center;
    justify-content: center;
    margin-top: 65px;
}
.para{
    color: #464646;
    margin-top: 45px;
    justify-content: center;
    text-align: center;
}
.img{
    text-align: center;
    align-items: center;
    border-radius: 15px;
}
.pro{
    text-align: center;
    justify-content: center;
    
}
section{
    
}
.las{
    text-align: center;
    margin-left:158px;
    margin-right:100px;
    font-size: 21px;
    color: #5e5b5b;
   display: inline-block;
   margin-left: 85px;
   margin-bottom: 195px;
}
.ul{
    margin-left: 95px;
}